html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}


.wrapper {
  position: relative;
  overflow-x: hidden;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  z-index: 99;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0088CC;
  transition: 0.5s;
  transform: translateX(-100%);

  .header__list {
    display: block;

    &.list-one {
      font-size: 15px;

      a {
        color: white;
      }

      li {
        margin-bottom: 5px;
      }
    }

    li {
      margin-left: 0;
    }
  }

  .contact__local {
    display: block;
    align-items: center;
    .contact__phone {
      margin-bottom: 15px;
      font-size: 25px;
    }
  }
}

.menu_active {
  transform: translateX(0%);
}

.car__image {
  display: none;
}
