@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import "global";

/*
HEADER START
*/
.header {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1065px;
  position: relative;
  margin-bottom: 156px;

  &::after {
    position: absolute;
    content: url("../img/build_bg.png");
    width: 100%;
    bottom: -65px;
  }
}

.header__inner {
  margin: 0 85px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between
}

.header__logo {
  display: flex;
}

.header__menu {
  margin-left: 74px;
}

.header__list {
  display: flex;
  margin-bottom: 20px;

  li {
    & + li {
      margin-left: 40px;
    }
  }

  &.list-one {
    font-size: 11px;

    a {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &.list-two {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    li {
      transition: 0.5s;
      padding-bottom: 10px;
      border-bottom: 4px solid transparent;

      &.active {
        border-bottom: 4px solid #d00a0a;
      }
    }
  }
}

.header__local {
  display: flex;
  align-items: center;
}

.header__phone {
  font-weight: 300;
  font-size: 46px;
  margin-right: 64px;
  color: #ffffff;

  span {
    font-weight: 100;
  }
}

.jq-selectbox.jqselect.focused {
  background-color: transparent;

  .jq-selectbox__select {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 4px solid #5780b8;
  }
}

.jq-selectbox__select {
  height: 32px;
  padding: 0 20px 5px 1px;
  border: 1px solid transparent;
  border-bottom: 4px solid #5780b8;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  font-size: 14px;
  color: #fff;
  text-shadow: none;

  &::after {
    content: url(../img/arowe.png);
    position: absolute;
    top: -3px;
    right: 5px;
    width: 13px;
    height: 10px;
  }

  &:hover {
    background: transparent;
  }
}

.jq-selectbox__select:active {
  background: transparent;
  box-shadow: none;
}

.jq-selectbox__trigger {
  display: none;
  position: absolute;
  top: 0;
  right: -14px;
  width: 34px;
  height: 100%;
  border-left: none;
}

.jq-selectbox__select-text {
  width: 40px !important;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;


}

.jq-selectbox__trigger-arrow {
  display: none;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #ffffff;
}

.jq-selectbox__dropdown {
  top: 0 !important;
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  color: #ffffff;
  padding: 0;
  border: 1px solid #5780b8;
  border-radius: 4px;
  background: #5780b8;
  font: 14px/18px Arial, sans-serif;
}

.header__title {
  color: white;
  margin-top: 500px;
  margin-left: 80px;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  padding-left: 54px;

  span {
    font-size: 110px;
  }

  &::before {
    position: absolute;
    content: "";
    background: #e30613;
    width: 54px;
    height: 163px;
    top: 15px;
    left: -12px;
  }
}

/*
HEADER END
*/

/*
SECTION ABOUT START
*/
.about {
  color: #102246;
}

.about__inner {
  margin-left: 135px;
  margin-bottom: 385px;
  position: relative;

  &:after {
    content: url("../img/car.png");
    position: absolute;
    top: -135px;
    right: -75px;
  }
}

.about__title {
  font-size: 74px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 61px;
}

.about__text {
  width: 730px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: -1px;
}

/*
SECTION ABOUT END
*/

/*
FOOTER START
*/

.footer {
  background: #00072a;
  color: white;
  font-size: 18px;
  position: relative;

  &:after {
    content: url("../img/bild_footer.png");
    position: absolute;
    top: -205px;
  }
}

.footer__inner {
  padding: 70px 200px 70px 154px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  position: relative;
  padding-right: 145px;

  &:after {
    content: '';
    position: absolute;
    background: #e30613;
    width: 1px;
    height: 106px;
    right: 0;
  }
}

/*
FOOTER END
*/
